article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
    display: none;
}

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html,body {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    font-family: "Microsoft Yahei","微软雅黑",'Helvetica Neue',Helvetica,"Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif !important;
}

/*
 * Removes default margin.
 */
body, p, b, span, dl, dd, input, img, form, div, ul, li, h1, h2, h3, h4, h5, h6,em,ol{
    margin:0;
    padding:0;
    border:0;
    -moz-user-select:none;
    -webkit-user-select:​ none;
    user-select: none;
    -o-user-select:​ none;
    -ms-user-select:​ none;
}

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
    border: 0;
}

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="text"]:focus,
input[type="submit"]:focus{
    outline: none 0;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/*
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,ul{
    list-style:none;
}
/* @end Reset */

/* @group Global */

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration:underline;
}
a:link,
a:visited{
    color: inherit;
}
.disable-selection{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* @end Global */
input:focus,textarea:focus {
    outline: none;
}
.placeholder{
    color: #b5b5b6 !important;
}
::-webkit-input-placeholder {
    color: #b5b5b6;
}
:-moz-placeholder {
    color: #b5b5b6;
}
::-moz-placeholder {
    color: #b5b5b6;
}
:-ms-input-placeholder {
    color: #b5b5b6;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
/*清楚浮动*/
.clear:after, .clearfloat:after,.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.hide{
    display: none;
}
.show{
    display: block;
}
/*公用表单样式*/
select{
    box-sizing: border-box;
    padding: 0 5px;
    background: url(/static/images/common/arrow_down.png) no-repeat right center #fff;
    line-height: 1;
    white-space: nowrap;
    border: 0px;
    padding-right: 24px;
    height: 30px;
    border-radius: 2px;
}
a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    height: 0
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /*    -webkit-appearance: none;*/
    line-height: 32px;
}

.input-form .input-group{
    display: block;
    clear: both;
    content: "";
    margin: 30px 0px;
    font-size: 13px;
    height: 35px;
}

.input-form .input-group .input-label{
    height: 35px;
    display: inline-block;
    color: #585858;
    float: left;
    padding: 0px 10px;
    line-height: 35px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 13px;
}

.input-form .input-group .input-value{
    height: 35px;
    float: left;
    line-height: 35px;
    color: #585858;
    font-size: 13px;
}
.input-form .input-group .input-value input{
    text-indent: 10px;
    border: solid 1px #e5e5e5;
    display: inline-block;
    font-size: 13px;
}
/*修改bootsrap input默认样式*/
.form-group > label {
    font-size: 13px;
    font-weight: normal;
    color: #898989;
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-group input {
    border: solid 1px #e5e5e5;
    height: 35px;
    line-height: 35px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
input[type="radio"], input[type="checkbox"]{
    height: auto;
    margin: 10px 0 0;
}
.require {
    color: #ff9900;
    margin-left: 2px;
}
/*三星*/
.arrow.top {
    left: 50%;
    margin-left: -8px;
    border-top-width: 0;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0,0,0,0.1);
    top: -8px;
}
.arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.btn{
    outline: none !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
}
.btn-orange{
    background: #ff9900;
    border: solid 1px #ff9900;
    color: white !important;

}
.btn-orange:hover{
    background: #FFCC00;
    color: white !important;
}
.btn-blue{
    background: #109fff;
    border: solid 1px #109fff;
    color: white !important;

}
.btn-blue:hover{
    background: #107fff;
    color: white !important;
}
.orange{
    color: #ff9900 !important;
}
.input-checkbox{
    background: url(/static/images/common/check.png) no-repeat;
    display: inline-block;
    width: 17px;
    cursor: pointer;
    height: 17px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}
.input-checkbox.selected{
    background: url(/static/images/common/check_selected.png) no-repeat;
}
.input-radio{
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0px;
    border: solid 1px #dcdcdc;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 4px;
    behavior: url(/static/css/ie-css3.htc);
}
.input-radio.selected{
    background: url(/static/images/template/1/yuan.png) center center no-repeat;
}
input{
    outline: none !important;
}
.dotted{
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #dbe0eb;
    margin: 5px 0;
}

.page-style{
    margin-top: 15px;
}

.alert-message{
    color: #ff9900;
    margin: 30px 0px;
}
